<div class="jumbotron text-center" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.webp');height: 50vh;">
    <h1 style="color: white;">My First Bootstrap Page</h1>
    <p style="color: white;">Resize this responsive page to see the effect!</p> 
</div>
    
<div class="container text-center" style="background-color: black;padding-top: 10px;">
    <div class="row" style="color: white;">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>



  